events {
    worker_connections 1024;
}

http {
    resolver 169.254.20.10 valid=10s ipv6=off;

    split_clients "${request_id}" $backend {
        10%  "auth-service-49302815.onrender.com";
        10%  "auth-service-1-u62y.onrender.com";
        10%  "auth-service-2-20oe.onrender.com";
        10%  "auth-service-3-n9g9.onrender.com";
        10%  "auth-service-4-av8y.onrender.com";
        10%  "auth-service-5-2pni.onrender.com";
        10%  "auth-service-6-qsz4.onrender.com";
        10%  "auth-service-7-bh8l.onrender.com";
        10%  "auth-service-8.onrender.com";
        *    "auth-service-9.onrender.com";
    }

    server {
        listen 80;

        location = / {
            return 200 "ok";
            add_header Content-Type text/plain;
        }

        location /api/auth/ {
            set $upstream $backend;
            proxy_pass https://$upstream;

            proxy_set_header Host $upstream;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;

            proxy_http_version 1.1;
            proxy_set_header Connection "";

            proxy_ssl_server_name on;
            proxy_ssl_name $upstream;

            proxy_next_upstream error timeout http_502 http_503 http_504;
            proxy_next_upstream_tries 5;
            proxy_connect_timeout 5s;
            proxy_read_timeout 60s;
        }
    }
}